header nav ul li{
    display: inline;
    padding: 1% 5% 1% 5%;
    justify-content: right;
}
li:hover {
    background-color: white;
}
body {
    background-color: #606060;
    padding: 5%;
}
h1 {
    text-align: center;
}
main section div img {
    width: 40%;
}
main section h2 {
    text-decoration: underline;
    background-color: black;
    color: white;
    padding: 4%;
}
#email {
    text-align: center;
}
footer {
    text-align: right;
}